<head>
    <title>Server Nickname</title>
</head>
<body>
    <h1>Server Nickname</h1>
    <h3>This server is managed by: </h3>
    <hr>
    <ul>
        <li>Server address: </li>
        <li>Server nickname: </li>
        <li>Server admin: </li>
    </ul>
    <hr>
    <h3>Server rules</h3>
    <ul>
        <li></li>
    </ul>
    <br>
    <br>
    <br>
    <hr>
    <p style="color:red;"><i>This is a template webpage for the server owner to design as they please, it is automatically hosted by the server software</i></p>
    <a href="http://jakesystems.us/ims/" target="blank">Support</a>
</body>
